.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  padding-bottom: 20px;
  z-index: 1;
  margin: 0 5%;
  border-bottom: solid rgb(179, 173, 173) 1px;
}
.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--color-bg);
  width: 100%;
  z-index: -1;
}

.title{
  display:flex;
  flex-direction:row;
  gap:20px
}

.title a{
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.icons{
  display:flex;
  flex-direction: row;
  gap:8px
}

.portfolioSide a{
  font-size: 30px;
  font-weight: 600;
  text-decoration:none;
  color: var(--color-text);
}

.portfolioSide icons{
  text-decoration:none;
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display:flex;
  gap:47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  font-family: "Open Sans", serif;
}


@media screen and (max-width: 890px) {


  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    list-style: none;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1000;
  }


.menuOpen {
  display: flex;
  z-index: 1;
}
}

@media screen and (max-width: 768px){
  .title{
    font-size: 20px;
  }
}