@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark-color);
}

.error{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}